body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    max-width: 1024px; /* Максимальная ширина контейнера */
    margin: 0 auto;
    padding-left: 60px; /* Левое padding-поле */
    padding-right: 60px; /* Центрирование контейнера */
    width: 93%;
    height: 100%; 
    overflow: hidden; 
}
.full-height {
    height: 96vh; /* Высота во весь экран */   
    position: relative;
}

.blue {
    background-color: #CBECFF; /* Фиолетовый цвет */
}

/* Основной экран */
body {
    margin: 0;
    padding: 0;
}

.language-buttons {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
    margin-top: 39px;
}

.language-button {
    background: none;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 12px;
    flex-shrink: 0;
    margin-left: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.clicked {
    background-color: white;
    color: #0962E8; /* Белый фон при нажатии */
}


.language-button:active::before {
    opacity: 1;
}

.main_line {
    display: flex;
    align-items: center;
    height: 78vh;
    justify-content: space-between;
}

.first_part {
    width: 51%;
}

.first_part_image {
    background: url('../images/FinKit.png') no-repeat;
    background-size: contain; /* Или 'cover', в зависимости от требуемого эффекта */
    width: 201px; /* Пример ширины */
    height: 75px;
}

.first_part h1 {
    color: #29374E;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
    text-align: left;
}

.second_part {
    background: url('../images/Group2180.png') no-repeat;
    background-size: contain; /* Или 'cover', в зависимости от требуемого эффекта */
    background-position: -3px 27px;
    width: 427px;
    height: 460px;
    scale: 1.3;
}

.button {
    width: 199px;
    height: 52px;
    top: 339px;
    left: 208px;
    border-radius: 12px;
    background: #0962E8;
    color: white; /* Цвет текста кнопки */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
}

/* Если это стили для ссылки (a), добавьте следующее */
.button:hover {
    background: #0752c2; /* Цвет при наведении */
    /* Дополнительные стили для состояния наведения */
}

.low_line {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    bottom: -24px;
    overflow: visible;
    max-width: 1024px;
    width: 93%;
}

.small_block {
    width: 20%;
    height: 111px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);

    color: #29374E;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    align-items: center;
    display: flex;
    text-align: left;
    padding-left: 21px;
    position: relative;
}

.small_block_icon {
    position: absolute;
    top: 16px;
    right: 23px;
    background: #EFF9FF;
    border-radius: 25px;
    width: 36px;
    height: 36px;
    font-size: 21px;
    color: #0962E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 2*/

h2 {
    margin-top: 120px;
    color: #29374E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 49.4px */
    letter-spacing: -1.14px;
}

h3 {
    margin-bottom: 12px;
}

.blue_color {
    color: #0962E8;
}

.key_products {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
}

.product {
    width: 49%;
    display: flex;
    border-radius: 30px;
    background: #E9F6FF;
    position: relative;
    height: 360px;
}

.product_text {
    width: 42%;
    width: 42%;
    margin-top: 21px;
    padding-left: 20px;
    text-align: left;
}

.product_text_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}

.product_text_description p{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.product_image_1 {
    background: url('../images/RiskLevel1.png');
    background-size: cover; /* чтобы изображение заполняло контейнер */
    background-position: 4px -15px;
    background-repeat: no-repeat;
    width: 280px;
    height: 347px;
    position: absolute;
    bottom: -9px;
    right: 0px;
}
.product_image_2 {
    background: url('../images/RiskLevel2.png');
    background-size: cover; /* чтобы изображение заполняло контейнер */
    background-position: 4px -15px;
    background-repeat: no-repeat;
    width: 280px;
    height: 347px;
    position: absolute;
    bottom: -9px;
    right: 0px;
}

/* Section 3*/

.sub_containers {
    display: flex;
    margin-bottom: 120px;
}

.sub_container_1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.sub_container_1_text  h4{    
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 49.4px */
    letter-spacing: -1.14px;
    margin: 12px 0 12px;
}

.sub_container_1_text p{
    color: #1E2837;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    margin: 18px 0 24px;
}

.sub_container_2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-left: 24px;
}

.sub_container_item {
    width: 46%;
    padding-left: 20px;
    padding-top: 24px;
}

.sub_container_item_icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #E9F6FF;
    border-radius: 19px;
}

.sub_container_item_text {
    color: #29374E;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

.d-mobile {
    display: none;
}

.d-desktop {
    display: flex;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Стили для небольших ноутбуков и десктопов */
    .low_line {
        max-width: 852px;
    }

    .container {
        max-width: 852px;
    }

    .product {
        height: 274px;
    }

    .product_image_1, .product_image_2 {
        width: 214px;
        height: 263px;
        position: absolute;
        bottom: -8px;
        right: 1px;
    }

    .sub_container_item {
        width: 45%;
    }

    .small_block_icon {
        top: 9px;
        right: 12px;
    }

    .d-mobile {
        display: none;
    }

    .d-desktop {
        display: flex;
    }
}

@media (max-width: 992px) {
    /* Стили для планшетов */
    .main_line {
        flex-direction: column-reverse;
        justify-content: unset;
        height: 58vh;
    }

    .full-height {
        height: 780px;
    }

    .key_products {
        margin-bottom: 78px;
        margin-top: 33px;
    }

    h3 {
        font-size: 17px;
    }
    
    .first_part {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first_part h1 {
        line-height: 120%;
        text-align: left;
        margin-top: 9px;
        margin-bottom: 12px;
        text-align: center;
    }

    .main_screen {
        height: 60vh;
    }

    .low_line {
        position: unset;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }

    .small_block {
        width: 42%;
    }

    .container {
        max-width: 852px;
    }

    .product {
        height: 274px;
    }

    .product_image_1, .product_image_2 {
        width: 195px;
        height: 239px;
        position: absolute;
        bottom: -8px;
        right: 1px;
    }

    .button {
        width: 75%;
    }

    .sub_container_2 {
        padding-left: unset;
        margin-top: 36px;
        width: 100%;
        justify-content: center;
        column-gap: 15px;
        row-gap: 18px;
    }
    

    .sub_container_item {
        width: 45%;
        padding-left: 18px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    }

    .sub_containers {
        flex-direction: column;
        align-items: center;
    }
    
    .sub_container_1 {
        align-items: center;
    }

    .sub_container_1_text h4, .sub_container_1_text p {
        text-align: center;
    }

    .second_part {
        background-position: 16px 11px;
        width: 257px;
        height: 39vh;
    }

    h2 {
        margin-top: 78px;
    }

    .key_products {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .product_text {
        padding-left: 42px;
        text-align: left;
        padding-top: 21px;
        width: 48%;
    }

    .product {
        width: 78%;
    }

   
}

@media (max-width: 685px) {
    .product_text {
        padding-left: 21px;
    }

    .sub_container_item {
        padding-left: 18px;
    }
}


@media (max-width: 630px) {
    .small_block {
        height: 114px;
    }

    .product_text {
        padding-left: 21px;
    }

    .sub_container_2 {
        column-gap: 12px;
        row-gap: 15px;
    }

    .sub_container_item {
        padding-left: 9px;
    }

    .sub_container_1 {
        width: 100%;
    }

    .sub_container_1_text h4 {
        font-size: 30px;
    }

    .low_line {
        width: 100%;
        row-gap: 20px;
        column-gap: 15px;
        justify-content: space-between;
        margin-top: 12px;
    }

    .container {
        padding: 0 15px 0 15px;
    }

    .first_part {
        align-items: unset; 
        width: 100%;    
        margin-bottom: 15px;   
    }

    .button {
        width: 100%;
    }

    .first_part h1 {
        text-align: left; 
    }

    .main_screen {
        height: 75vh;
    }

    .main_line {
        align-items: self-start;
        height: 75vh;
    }

    .second_part {
        background-position: 100px 2px;
        height: 48vh;
        width: 100%;
    }

    .full-height {
        height: 918px;
    }

    .small_block_icon {
        top: -13px;
        left: 26px;
        background: #EFF9FF;
        border-radius: 25px;
        width: 36px;
        height: 36px;        
    }

    .product {
        width: 87%;
    }
}

@media (max-width: 501px) {
    .small_block_icon {
        top: -13px;
        right: 13px;
    }      

    .second_part {
        background-position: 39px 2px;
        height: 369px;
        width: 100%;
    }

    .small_block {
        width: 39%;
        font-size: 15px;
    }

    .product {
        width: 100%;
    }

    .product_text_description p {
        font-size: 12px;
    }

    .low_line {
        justify-content: space-around;
    }
}

@media (max-width: 450px) {
    .product_image_1, .product_image_2 {
        width: 150px;
        height: 199px;
        position: absolute;
        bottom: -19px;
        right: 9px;
    }

    h3 {
        font-size: 15px;
    }

    .product_text_description p {
        font-size: 10px;
    }

    .product {
        height: 213px;
    }
}

@media (max-width: 405px) {
    .small_block_text {
        font-size: 13px;
    }

    .product_text {
        padding-left: 17px;
    }

    .second_part {
        background-position: 30px 24px;
    }

    .main_line {
        height: 594px;
    }

    .main_screen {
        height: 591px;
    }

    .full-height {
        height: 945px;
    }

    h2 {
        margin-top: 48px;
    }

    .key_products {
        margin-bottom: 48px;
    }
}

