body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    max-width: 1024px; /* Максимальная ширина контейнера */
    margin: 0 auto;
    padding-left: 60px; /* Левое padding-поле */
    padding-right: 60px; /* Центрирование контейнера */
    width: 93%;
    height: 93%; 
    overflow: hidden; 
}
.full-height {
    height: 96vh; /* Высота во весь экран */   
    position: relative;
}

.blue {
    background-color: #CBECFF; /* Фиолетовый цвет */
}

/* Основной экран */
body {
    margin: 0;
    padding: 0;
}

.language-buttons {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
}

.language-button {
    background-color: #CBECFF;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 12px;
    flex-shrink: 0;
    margin-left: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.clicked {
    background-color: white;
    color: #0962E8; /* Белый фон при нажатии */
}


.language-button:active::before {
    opacity: 1;
}

.main_screen {
    
}

.main_line {
    display: flex;
    align-items: center;
    height: 78vh;
    justify-content: space-between;
}

.first_part {
    width: 51%;
}

.first_part_image {
    background: url('../images/FinKit.png') no-repeat;
    background-size: contain; /* Или 'cover', в зависимости от требуемого эффекта */
    width: 201px; /* Пример ширины */
    height: 75px;
}

.first_part h1 {
    color: #29374E;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 28.6px */
    text-align: left;
}

.second_part {
    background: url('../images/Group2180.png') no-repeat;
    background-size: contain; /* Или 'cover', в зависимости от требуемого эффекта */
    background-position: -3px 27px;
    width: 427px;
    height: 460px;
    scale: 1.3;
}

.button {
    width: 199px;
    height: 52px;
    top: 339px;
    left: 208px;
    border-radius: 12px;
    background: #0962E8;
    color: white; /* Цвет текста кнопки */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
}

/* Если это стили для ссылки (a), добавьте следующее */
.button:hover {
    background: #0752c2; /* Цвет при наведении */
    /* Дополнительные стили для состояния наведения */
}

.low_line {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    bottom: -24px;
    overflow: visible;
    width: 93%;
}

.small_block {
    width: 20%;
    height: 99px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);

    color: #29374E;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    align-items: center;
    display: flex;
    text-align: left;
    padding-left: 21px;
    position: relative;
}

.small_block_icon {
    position: absolute;
    top: 16px;
    right: 23px;
    background: #CBECFF;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 2*/

h2 {
    margin-top: 120px;
    color: #29374E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 49.4px */
    letter-spacing: -1.14px;
}

h3 {
    margin-bottom: 12px;
}

.blue_color {
    color: #0962E8;
}

.key_products {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
}

.product {
    width: 49%;
    display: flex;
    border-radius: 30px;
    background: #E9F6FF;
    position: relative;
    height: 360px;
}

.product_text {
    width: 42%;
    width: 42%;
    margin-top: 21px;
    padding-left: 20px;
    text-align: left;
}

.product_text_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}

.product_text_description p{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.product_image_1 {
    background: url('../images/RiskLevel1.png');
    background-size: cover; /* чтобы изображение заполняло контейнер */
    background-position: 4px -15px;
    background-repeat: no-repeat;
    width: 280px;
    height: 347px;
    position: absolute;
    bottom: -9px;
    right: 0px;
}
.product_image_2 {
    background: url('../images/RiskLevel2.png');
    background-size: cover; /* чтобы изображение заполняло контейнер */
    background-position: 4px -15px;
    background-repeat: no-repeat;
    width: 280px;
    height: 347px;
    position: absolute;
    bottom: -9px;
    right: 0px;
}
